*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Registration */
body{
    background-image: url(/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.container{
    width: 60%;
    padding: 40px 60px ;
    background-color: white;
    margin: 70px auto;
    border-radius: 16px;

}
#main-title{
    text-align: center;
    font-size: 25px;
    padding: 30px 30px 10px 30px;
    font-weight: 700;
    color: rgb(20, 20, 20);
}
         
#subtitle{
    text-align: center;
    font-size: 14px;
    color: rgb(70, 70, 70);
}
   

input{
width: 100%;
padding: 10px;
background-color: #d4d4d4  ;
margin-top: 10px;
margin-bottom: 10px;
border: none gray;
border-radius: 3px;
}
input:focus{
    background-color: #ddd;
    border: none;
}
.registerbtn{
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    background-color: purple ;
    color: white;
}
.registerbtn:hover{
    opacity: 0.9;
}

/* login style */
.form{
    background-image: url(/download.jpg);
    background-size: cover;
}
.container1{
    width: 60%;
    padding: 30px 60px;
    margin: 70px auto;
    border-radius: 16px;
    background-color: lavender;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.form{
    background-image: url(/download.jpg);
    background-size: cover;
}
.input-grp{
    width: 100%;
    margin: 10px 0;
    border-radius: 45px;
    display: grid;
}
select{
    background-color: powderblue;
}

.btn{
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: mediumblue;
    color: white;
    cursor: pointer;
}
/* Success page 
body {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
  }
    h2 {
      color: #88B04B;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #5a5e40;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }
  */